<div>
    <div class="row">
        <div class="col-md-6">
            <h5>Sell Orders</h5>
            <app-order-book [baseAsset]="baseAsset"
                            [quoteAsset]="quoteAsset"
                            [orderBookEntries]="sellOrderBook$ | async">
            </app-order-book>
        </div>
        <div class="col-md-6">
            <h5>Buy Orders</h5>
            <app-order-book [baseAsset]="baseAsset"
                            [quoteAsset]="quoteAsset"
                            [orderBookEntries]="buyOrderBook$ | async">
            </app-order-book>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-order-form [baseAsset]="baseAsset"
                            [quoteAsset]="quoteAsset"
                            [orderType]="orderType.Buy"
                            (placeOrder)="onPlaceOrder($event, orderType.Buy)">
            </app-order-form>
        </div>
        <div class="col-md-6">
            <app-order-form [baseAsset]="baseAsset"
                            [quoteAsset]="quoteAsset"
                            [orderType]="orderType.Sell"
                            (placeOrder)="onPlaceOrder($event, orderType.Sell)">
            </app-order-form>
        </div>
    </div>
</div>